doctype html

html

    body
        h4
        table
            tr
                h2 Total result
                ol
                    each val in data
                        li
                            moleculename #{val.molecule_name}
                            br
                            molecule_name  #{val.molecule_name}
                            br
                            drug_categories #{val.molecule_name}
                            br
                            description #{val.molecule_name}
                            br
                            absorption #{val.molecule_name}
                            br
                            distribution #{val.molecule_name}
                            br
                            metabolism #{val.molecule_name}
                            br
                            excretion #{val.molecule_name}
                            br
                            side_effect #{val.molecule_name}
                            br
                            precaution #{val.molecule_name}
                            br
                            drug_interaction #{val.molecule_name}
                            br
                            food_interaction #{val.molecule_name}
                            br
                            dosage #{val.molecule_name}
                            br
                            food #{val.molecule_name}
                            br
                            contradictions #{val.molecule_name}
