div#Pcard3
    div
        div.row.Pheadings1
            a(href="#") Address
            a.btn-flat.small.right.black-text#PInfoedit Edit
            br
            br
        form#ContactInfo
            div.row.Pformfordetail
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix
                        input.validate#address(type="text", value=data.address.addresses)
                        label(for="address") Address
                        br
                        br
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix
                        input.validate#landmark(type="text", value=data.address.landmarks)
                        label(for="landmark") Landmark
                        br
                        br

                div.row
                    .input-field.col.s6
                        i.material-icons.prefix
                        input.validate#pincode(type="tel", value=data.address.pin_code)
                        label(for="pincode") Pincode
                        br
                        br
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix
                        input.validate#city(type="text", value=data.address.city)
                        label(for="city") City
                        br
                        br
                div.row
                    .input-field.col.s6
                        i.material-icons.prefix
                        input.validate#state(type="text", value=data.address.state)
                        label(for="state") State
                        br
                        br
                div.row
                    a.btn.right#AddressSubmit Submit